<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
    <p class="lead">I have no clue what to write here so this text will have to be enough</p>
    <p class="lead">
  <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>